nav {
    position: sticky; /* Utilise sticky pour garder la barre visible quand on descend */
    top: 0; /* Positionner la barre en haut */
    left: 0;
    width: 100%;
    height: 60px; /* Hauteur explicite de la barre */
    background-color: #68B0AB;
    z-index: 1000;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
    margin: 0; /* Evite les marges indésirables */
}

/* Espacement sous la barre de navigation */
body {
    padding-top: 60px; /* Ajuste cela en fonction de la hauteur de la barre */
}

/* Liste dans la barre de navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Éléments de la liste */
nav ul li {
    margin: 0 20px;
}

/* Liens dans la barre */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

/* Effet de survol des liens */
nav ul li a:hover {
    background-color: #4F8A8B;
}

/* Défilement fluide */
html {
    scroll-behavior: smooth;
}

