html, body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

nav {
    position: fixed;  /* Fixe la barre en haut */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #68B0AB; /* Couleur de fond de la barre */
    z-index: 1000;  /* Assure que la barre soit toujours visible au-dessus des autres éléments */
    padding: 10px 0;  /* Espacement vertical */
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;  /* Ombre sous la barre */
}

/* Liste de la barre de navigation */
nav ul {
    list-style-type: none;  /* Enlève les puces */
    padding: 0;
    margin: 0;
    display: flex;  /* Utilise flexbox pour disposer les éléments horizontalement */
    justify-content: center;  /* Centre les éléments */
}

/* Éléments de la liste */
nav ul li {
    margin: 0 20px;  /* Marge entre les éléments */
}

/* Liens dans la barre */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;  /* Espacement autour du texte */
    border-radius: 8px;  /* Coins arrondis */
    transition: background-color 0.3s;  /* Animation pour le changement de couleur au survol */
}

/* Effet au survol des liens */
nav ul li a:hover {
    background-color: #4F8A8B;  /* Couleur de survol */
}

/* Effet de défilement fluide */
html {
    scroll-behavior: smooth;
}

/* Ajouter un espacement pour éviter que le contenu soit caché sous la barre */
body {
    padding-top: 60px;  /* Ajuste la valeur selon la hauteur de ta barre de navigation */
}

