nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Prend toute la largeur de l'écran */
    background-color: #68B0AB;
    z-index: 1000;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 60px; /* Crée de l'espace pour le contenu sous la barre de navigation */
}

nav ul {
    list-style-type: none; /* Enlève les puces des éléments de la liste */
    padding: 0;
    margin: 0;
    display: flex; /* Utilise flexbox pour disposer les éléments horizontalement */
    justify-content: center; /* Centre les éléments dans la barre */
}

nav ul li {
    margin: 0 20px; /* Marge entre les éléments de la liste */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px; /* Espacement autour du texte */
    border-radius: 8px; /* Coins arrondis */
    transition: background-color 0.3s; /* Animation pour le changement de couleur au survol */
}

nav ul li a:hover {
    background-color: #4F8A8B; /* Couleur de survol */
}

html {
    scroll-behavior: smooth;
}
