body {
    margin: 0; /* Supprimer la marge par défaut */
    padding: 0; /* Supprimer le padding */
    width: 100vw; /* Assurer que le body prend toute la largeur */
}

.container {
    width: 100%; /* S'assurer que le container occupe toute la largeur */
    max-width: none; /* Enlever toute limite de largeur */
}
