/* Style de l'image mini du CV (avec un effet au survol) */
#cv-thumbnail:hover {
    transform: scale(1.1); /* L'image s'agrandit légèrement */
}

/* Style de la fenêtre modale */
.cv-modal {
    display: none; /* Cachée par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    z-index: 9999; /* Assurez-vous que la modale est au-dessus du contenu */
    justify-content: center;
    align-items: center;
}

.cv-modal iframe {
    border-radius: 10px;
}

/* Style du bouton de fermeture */
.cv-modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
